body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body{
    height: 800px;
    background-color: rgba(0, 0,0, 0.7);
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
ul li{
    list-style: none;
    margin: 0;
    display: inline;
    padding: 20px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(189, 188, 188);
}
ul li a:hover{
    color: white;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #24292F;
    position: relative;
    top: 0;
    position: sticky;
}
.logo img{
    border-radius: 5px;
    position: relative;
    top: 5px;
}
.content{
    text-align: center;
    padding-top: 100px;
}
.content p{
    color: white;
    font-size: 28px;
}
.content p1{
    font-size: 23px;
    color: white;
}
.content button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    color: white;
    background-color: orangered;
    margin-top: 30px;
}
.forms{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
input[type=number]{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
}
input[type=submit]{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #24292F;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: 3s;
}
input[type=submit]:hover{
    background-color: white;
    border: 1.5px solid #24292F;
    color: #24292F;
}
label, legend{
    font-size: 18px;
    color: rgb(231, 227, 227);
}
fieldset{
    border-radius: 10px;
}
#results{
    width: 500px;
    height: 600px;
    text-align: center;
    background-color: white;
    color: gray;
    border-radius: 10px;
}
select{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}